<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class="text-center">


<form>
    <div class="form-group">
    <label for="cityselect">Выберите город</label>
    <select class='form-control' name='cityselect'>
        {% for city in cities %}
            <option value="{{ city.id }}">{{ city.name }}</option>
        {% endfor %}
    </select>
</form>
<input id="submitButton" type="button" class="btn btn-primary" value="Click To Submit"/>




<div class="album py-5 bg-light">
    <div class="container">
        <div class="row" id="hotels">





        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>

$(function() {
    $('#submitButton').click(function() {
        var valuesArray = $('select[name=cityselect]').val()
        $.ajax({
            type: 'POST',
            url: '{% url 'home' %}',
            data: { cityselect: valuesArray, 'csrfmiddlewaretoken': '{{ csrf_token }}' }
        }).done(function(msg) {
        $('#hotels').empty();
        quantity = msg['hotels'].length;
        var i;
        for (i = 0; i < quantity; i++) {
            element = (
                '<div class="col-md-4">'+
                    '<div class="card mb-4 shadow-sm">'+
                        '<img class="card-img-top" src="' + msg['hotels'][i].image + '" alt="Card image cap">'+
                        '<div class="card-body">'+
                            '<p class="card-text">' + msg['hotels'][i].name + '</p>'+
                            '<p class="card-text">' + msg['hotels'][i].price + '</p>'+
                        '</div>'+
                    '</div>'+
                '</div>'
            )
            $('#hotels').append(element);
        }
        });
    });
});

</script>

</body>
</html>
